html {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(150, 150, 150);
}

.calc {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  background: rgb(200, 200, 200);
  border-radius: 5px;
}
.calc .field {
  width: 100%;
  height: 50px;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.calc .wrap {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.calc .row {
  width: 100%;
  display: flex;
  gap: 25px;
}
.calc .num {
  background: white;
  transition: 0.1s;
}
.calc .num:hover {
  scale: 1.1;
}
.calc .operator {
  background: black;
  color: white;
  transition: 0.1s;
}
.calc .operator:hover {
  scale: 1.1;
}
.calc .clear {
  background: red;
  color: white;
  transition: 0.1s;
}
.calc .clear:hover {
  scale: 1.1;
}
.calc p {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 5px;
}